################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OMG_AP/.vs/OMG_AP
/OMG_AP/OMG_AP/bin/Debug/netcoreapp3.1
/OMG_AP/OMG_AP/obj
